[Unit]
Description=Sybase Prometheus Exporter
Documentation=https://prometheus.io/
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/sybase_exporter
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
